<footer>
    <div class="footer__address">
        <h4>Our Address:</h4>
        <p>1800 Bourdeaux Blvd
            <br> Burlington, KY 41005</p>
    </div>
    <figure>
        <img src="images/bhaLogo.png" alt="Burgundy Hills Logo">
    </figure>
    <div class="footer__hours">
        <h4>Office Hours</h4>
        <ul>
            <li>M-F: 10:00am - 5:00pm</li>
            <li>Saturday: 10:00am - 2:00pm</li>
            <li>Sunday: closed</li>
        </ul>
    </div>
</footer>
</div>
</body>

</html>