<header>
    <a class="header__home" href="/">Burgundy Hills</a>
    <ul class="header__nav">
        <li><a href="">Amenities</a></li>
        <li><a href="/floorplans">Floor Plans</a></li>
        <li><a href="/login">Residents</a></li>
        <li><a href="">Apply</a></li>
        <li><a href="/gallery">Photos</a></li>
        <li><a href="/contactus">Contact</a></li>
    </ul>
</header>