<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <div id="page-container">
        <div id="content-wrapper">
            <div class="container">
                <main class="amenities-wrapper">
                    <div>
                        <h3 class="text-center my-3">Apartment Amenities</h3>
                        <ul class="amenities-list">
                            <li>Washer/Dryer hookups</li>
                            <li>High-speed internet</li>
                            <li>Vaulted Ceilings*</li>
                            <li>AC/Heating</li>
                            <li>Refrigerator</li>
                            <li>Oven</li>
                            <li>Stovetop</li>
                            <li>Dishwasher</li>
                            <li>Balcony*</li>
                            <li>Wood floors*</li>
                            <li>Garages*</li>
                        </ul>
                    </div>
                    <div>
                        <h3 class="text-center my-3">Community Amenities</h3>
                        <ul class="amenities-list">
                            <li>Pool</li>
                            <li>Tennis Court</li>
                            <li>Fitness Center</li>
                            <li>Spacious Clubhouse</li>
                            <li>Outdoor Grilling Area</li>
                            <li>Other stuff?</li>
                        </ul>
                    </div>
                </main>
                <p>*Some features not available in all apartments.  Please contact a leasing agent for details</p>
            </div>
        </div>
        <%- include('includes/footer.ejs') %>
    </div>