<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <div id="page-container">
        <div id="content-wrapper">
            <div class="container">
                <main class="amenities-wrapper">
                    <div class="card">
                        <img src="images/0010.jpg" alt="" class="card-img-top">
                        <h5 class="text-center card-header">Apartment Amenities</h5>
                        <ul class="amenities-list list-group">
                            <li class="list-group-item">Washer/Dryer hookups</li>
                            <li class="list-group-item">High-speed internet</li>
                            <li class="list-group-item">Vaulted Ceilings*</li>
                            <li class="list-group-item">AC/Heating</li>
                            <li class="list-group-item">Refrigerator</li>
                            <li class="list-group-item">Oven</li>
                            <li class="list-group-item">Stovetop</li>
                            <li class="list-group-item">Dishwasher</li>
                            <li class="list-group-item">Balcony*</li>
                            <li class="list-group-item">Wood floors*</li>
                            <li class="list-group-item">Garages*</li>
                        </ul>
                    </div>
                    <div class="card">
                        <img src="images/0002.jpg" alt="" class="card-img-top">
                        <h5 class="text-center card-header">Community Amenities</h5>
                        <ul class="amenities-list list-group">
                            <li class="list-group-item">Pool</li>
                            <li class="list-group-item">Tennis Court</li>
                            <li class="list-group-item">Fitness Center</li>
                            <li class="list-group-item">Spacious Clubhouse</li>
                            <li class="list-group-item">Outdoor Grilling Area</li>
                            <li class="list-group-item">Other stuff?</li>
                        </ul>
                    </div>
                </main>
                <p>*Some features not available in all apartments.  Please contact a leasing agent for details</p>

                <div class="card pet-policy">
                    <img src="images/cardTop/catdog2.jpg" alt="Dog and Cat" class="card-img-top">
                    <div class="card-header">Pet Policy</div>
                    <div class="card-body">
                        <h4 class="card-title">Cats and Dogs are allowed</h4>
                        <hr>
                        <p class="card-text">Up to 2 pet maximum, and combined weight not to exceed 100lbs.
                            <hr>
                            Monthly pet rent: $25-35 depending on type and weight, per pet.  
                            <hr>
                            Non-refundable Pet Fee: $250 per pet.
                            <hr>
                            Please inquire about breed restrictions.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <%- include('includes/footer.ejs') %>
    </div>