<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h2>Apartment Amenities</h2>
    <ul>
        <li>Stuff</li>
        <li>Washer/Dryer hookups</li>
        <li>No fireplaces</li>
        <li>Lights</li>
        <li>High-speed internet</li>
        <li>Pool</li>
        <li>Vaulted Ceilings*</li>
        <li>AC/Heating</li>
        <li>Refrigerator</li>
        <li>Oven</li>
        <li>Stovetop</li>
        <li>Dishwasher</li>
        <li>Balcony*</li>
        <li>Noisy Neighbors</li>
        <li>Wood floors*</li>
        <li>Toilets</li>
    </ul>
    <%- include('includes/footer.ejs') %>