<%- include('includes/head.ejs') %>
</head>
<body>
    <%- include('includes/navigation.ejs') %>

    <form class="contact__form" action="">
        <h1>How Can We Help You?</h1>
        <input class="contact__first" type="text" placeholder="First Name*">
        <input class="contact__last" type="text" placeholder="Last Name*">
        <input class="contact__email" type="email" name="email" id="" placeholder="Email*">
        <input class="contact__phone" type="text" placeholder="Phone Number*">
        <textarea class="contact__message" name="message" id="" cols="30" rows="10" placeholder="Message*"></textarea>
        <button type="submit">SEND MY MESSAGE</button>
    </form>
<%- include('includes/footer.ejs') %>