<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1 class="photo__title">Photo Gallery</h1>
    <div class="photo__grid">
        <img src="images/0001.jpg" alt="">
        <img src="images/0002.jpg" alt="">
        <img src="images/0003.jpg" alt="">
        <img src="images/0004.jpg" alt="">
        <img src="images/0005.jpg" alt="">
        <img src="images/0006.jpg" alt="">
        <img src="images/0007.jpg" alt="">
        <img src="images/0008.jpg" alt="">
        <img src="images/0009.jpg" alt="">
        <img src="images/0010.jpg" alt="">
        <img src="images/0011.jpg" alt="">
        <img src="images/0012.jpg" alt="">
    </div>
    <%- include('includes/footer.ejs') %>