<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
    crossorigin="" />
<script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js" integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
    crossorigin=""></script>
</head>

<body>
        <%- include('includes/navigation.ejs') %>
        <div id="page-container">
            <div id="content-wrapper">

                <section class="banner">
                    <h1>Welcome to Burgundy Hills Apartments</h1>
                    <div class="banner__button__wrapper">
                        <a href="/login">
                            <button class="banner__button">
                                <p>Resident Login</p>
                                <ul>
                                    <li>Make Online Payments</li>
                                    <li>Schedule Maintenance</li>
                                    <li>Other stuff and things</li>
                                </ul>
                            </button>
                        </a>
                        <button class="banner__button">
                            <p>Apply Now</p>
                            <ul>
                                <li>Download a PDF File</li>
                                <li>Fill Out Your Application</li>
                                <li>Bring It To Our Office</li>
                            </ul>
                        </button>
                    </div>
                </section>
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-lg-8 mb-3">
                            <main class="info">
                                <p>
                                    Located within minutes of restaurants, shopping, the Cincinnati/Northern Kentucky International
                                    Airport, and a TANK
                                    busline, living at Burgundy Hills couldn’t be more convenient! Served by the Boone County School
                                    District as well
                                    as a number of private and parochial schools, your children are sure to get the education they need to
                                    succeed in
                                    life. Centers of higher education within 15 minutes of the community include Northern Kentucky
                                    University and
                                    University of Cincinnati.
                                </p>
                            </main>
                        </div>
                        <div class="col-md-6 col-lg-4 mb-3">
                            <div class="map-wrapper">
                                <div id="mapid">
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <%- include('includes/footer.ejs') %>
        </div>