<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
    crossorigin="" />
<script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js" integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
    crossorigin=""></script>
</head>

<body>
        <%- include('includes/navigation.ejs') %>
        <div id="page-container">
            <div id="content-wrapper">

                <section class="banner">
                    <h1>Welcome to Burgundy Hills Apartments</h1>
                    <div class="banner__button__wrapper">
                        <a href="/login">
                            <button class="banner__button">
                                <p>Resident Login</p>
                                <ul>
                                    <li>Make Online Payments</li>
                                    <li>Schedule Maintenance</li>
                                    <li>Other stuff and things</li>
                                </ul>
                            </button>
                        </a>
                        <button class="banner__button">
                            <p>Apply Now</p>
                            <ul>
                                <li>Download a PDF File</li>
                                <li>Fill Out Your Application</li>
                                <li>Bring It To Our Office</li>
                            </ul>
                        </button>
                    </div>
                </section>
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <div id="reviewCarousel" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <p>"This is an excellent place to live, the units are very nice in a well kept environment. The staff and manager are on top of things that you need done. I would very much recommend these apartment to another." 
                                            <br> <span>- Wayne Gretzky</span></p>
                                    </div>
                                    <div class="carousel-item">
                                        <p>"I love Burgundy Hills Apartments!  I recommend everyone looking to check out here and I honestly love my apartment and this area!" 
                                            <br> <span>- Resident</span></p>
                                    </div>
                                    <div class="carousel-item">
                                        <p>"The location and price is what attracted me to the community, but the people are what keep me here. I have lived in several apartment communities in Northern Kentucky, but I have been here the longest." 
                                            <br> <span>- Resident</span></p>
                                    </div>
                                </div>
                            </div>
                            <main class="info">
                                <p>
                                    Located within minutes of restaurants, shopping, the Cincinnati/Northern Kentucky International
                                    Airport, and a TANK
                                    busline, living at Burgundy Hills couldn’t be more convenient! Served by the Boone County School
                                    District as well
                                    as a number of private and parochial schools, your children are sure to get the education they need to
                                    succeed in
                                    life. Centers of higher education within 15 minutes of the community include Northern Kentucky
                                    University and
                                    University of Cincinnati.
                                </p>
                            </main>

                        </div>
                        <div class="col-md-6 mb-3">
                            <a href="https://www.google.com/maps/dir//Burgundy+Hills+Apartments,+1800+Bordeaux+Blvd,+Burlington,+KY+41005/@39.0159985,-84.6961829,17z/data=!4m9!4m8!1m0!1m5!1m1!1s0x8841c5e057bdadd3:0xa033c8c904228bcf!2m2!1d-84.6939942!2d39.0159944!3e0">Click here for Directions</a>
                            <div class="map-wrapper">
                                <div id="mapid">
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <%- include('includes/footer.ejs') %>
        </div>