<%- include('includes/head.ejs') %>
</head>

<body>
    <div class="grid-container">
        <%- include('includes/navigation.ejs') %>
        <section class="banner">
            <h1>Welcome to Burgundy Hills Apartments</h1>
            <div>
                <button class="banner__button">Apply Now</button>
                <a href="/login">
                    <button class="banner__button">
                        <p>Resident Login</p>
                        <ul>
                            <li>Make Online Payments</li>
                            <li>Schedule Maintenance</li>
                            <li>Other stuff and things</li>
                        </ul>
                    </button>
                </a>
            </div>
        </section>
        <div class="map">

        </div>
        <main class="info">
            <p>
                Located within minutes of restaurants, shopping, the Cincinnati/Northern Kentucky International
                Airport, and a TANK
                busline, living at Burgundy Hills couldn’t be more convenient! Served by the Boone County School
                District as well
                as a number of private and parochial schools, your children are sure to get the education they need to
                succeed in
                life. Centers of higher education within 15 minutes of the community include Northern Kentucky
                University and
                University of Cincinnati.
            </p>
        </main>
<%- include('includes/footer.ejs') %>