<%- include('./includes/head.ejs') %> 
<%- include('./includes/navigation.ejs') %>
  <div id="page-container">
    <div id="content-wrapper">
      <h2>The Ivy View</h2>
      <p>Two Bedrooms with Two Baths / Square footage: 970</p>
      <p>Monthly Rent starts from $849</p>

      <div class="floorplan-img-wrapper">
        <img src="images/floorplans/ivyview/0001.jpg" alt="">
        <img src="images/floorplans/ivyview/0002.jpg" alt="">
        <img src="images/floorplans/ivyview/0003.jpg" alt="">
        <img src="images/floorplans/ivyview/0004.jpg" alt="">
        <img src="images/floorplans/ivyview/0005.jpg" alt="">
        <img src="images/floorplans/ivyview/0006.jpg" alt="">
        <img src="images/floorplans/ivyview/0007.jpg" alt="">
        <img src="images/floorplans/ivyview/0008.jpg" alt="">
      </div>

    </div>
    <%- include('./includes/footer.ejs') %>
  </div>

