<%- include('includes/head.ejs') %>
</head>
<body>
    <%- include('includes/navigation.ejs') %>
    
    <div class="container">
      <h2 class="text-center">Resident Portal</h2>
      <div class="card">
          <h5 class="card-header">Make Online Payments</h5>
          <div class="card-body">
            <p class="card-text">Use our secure payment service to quickly and easily pay your rent, utilities and snack bills.</p>
            <a href="" class="btn btn-primary btn-block">Go to Payment Page</a>
          </div>
      </div>

      <div class="card">
        <h5 class="card-header">Submit Maintenance Request</h5>
        <div class="card-body">
          <h5 class="card-title">Have a problem in your apartment?</h5>
          <p class="card-text">
            Fill out a quick form and our maintenance team will take care of it as quickly as possible.
          </p>
          <a href="/maintRequest" class="btn btn-primary btn-block">Fill Out Maintenance Form</a>
        </div>
      </div>

      <div class="card">
        <h5 class="card-header">View Your Information</h5>
        <div class="card-body">
          <h5 class="card-title">I dont know</h5>
          <p class="card-text">View information on your lease, payments due, other info or whatever.  Stuff.  Things</p>
          <a href="" class="btn btn-primary btn-block">Click here</a>
        </div>
      </div>
    </div>



<%- include('includes/footer.ejs') %>