<%- include('./includes/head.ejs') %> 
<%- include('./includes/navigation.ejs') %>
  <div id="page-container">
    <div id="content-wrapper">
      <div class="container">
        <div class="floorplan-wrapper">
          <h2>The Vintage</h2>
          <p>Three Bedrooms with Two Baths / Square footage: 1,340</p>
          <p>Monthly Rent starts from $1,039</p>

          <img src="images/floorplans/vintage/01.jpg" alt="">
          <img src="images/floorplans/vintage/02.jpg" alt="">
          <img src="images/floorplans/vintage/03.jpg" alt="">
          <img src="images/floorplans/vintage/04.jpg" alt="">
          <img src="images/floorplans/vintage/05.jpg" alt="">
          <img src="images/floorplans/vintage/06.jpg" alt="">
          <img src="images/floorplans/vintage/07.jpg" alt="">
          <img src="images/floorplans/vintage/08.jpg" alt="">
          <img src="images/floorplans/vintage/09.jpg" alt="">
        </div>
      </div>

    </div>
    <%- include('./includes/footer.ejs') %>
  </div>

