<%- include('./includes/head.ejs') %> 
<%- include('./includes/navigation.ejs') %>
  <div id="page-container">
    <div id="content-wrapper">
      <div class="container">
        <div class="floorplan-wrapper">
          <h2>The Vineyard</h2>
          <p>One Bedroom with One Bath / Square footage: 719</p>
          <p>Monthly Rent starts from $749</p>
          
          <img src="images/floorplans/vinyard/01.jpg" alt="">
          <img src="images/floorplans/vinyard/02.jpg" alt="">
          <img src="images/floorplans/vinyard/03.jpg" alt="">
          <img src="images/floorplans/vinyard/04.jpg" alt="">
          <img src="images/floorplans/vinyard/05.jpg" alt="">
        </div>
      </div>

    </div>
    <%- include('./includes/footer.ejs') %>
  </div>

