<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>This page is currently under construction.</h1>

    <img src="/public/images/construction.jpg" alt="Construction workers">
    
    <%- include('includes/footer.ejs') %>