<%- include('./includes/head.ejs') %> 
<%- include('./includes/navigation.ejs') %>
  <div id="page-container">
    <div id="content-wrapper">
      <div class="container">
        <h1 class="mt-5">This page is currently under construction.</h1>

        <div class="constr-img-wrapper">
          <img class="construction-img" src="/images/construction.jpg" alt="Construction workers">
        </div>
      </div>

    </div>
    <%- include('./includes/footer.ejs') %>
  </div>

