/* header stuff */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(160, 160, 160, 0.8);
    color: white;
    z-index: 100;
}

.header__home {
    margin-left: 1rem;
}

.header__nav {
    display: flex;
}

.header__nav li {
    padding: 1rem;
    /* flex: 1; */
}

.header__nav li:hover {
    padding: 1rem;
    background-color: gray;
}

.active {
    background-color: rgb(80, 80, 80);
    height: 100%;
}

.navbar {
    padding-top: 0;
    padding-bottom: 0;
}

.nav-item {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

/* banner stuff */

.banner {
    background: url('../images/building.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-bottom: 4rem;
}

.banner>h1 {
    font-size: 3rem;
    color: white;
    text-shadow: 2px 2px 5px black;
    margin-top: 4.5rem;
    text-align: center;
}

.banner__button {
    background-color: rgba(218, 205, 205, 0.5);
    padding: 1.7rem 2rem;
    font-size: 2rem;
    margin: 3rem;
    color: white;
    cursor: pointer;
}

.banner__button:hover {
    background-color: rgba(229, 255, 0, 0.5);
}

.banner__button ul {
    margin-top: .7rem;
    list-style-type: circle;
}


.banner__button li {
    font-size: .8rem;
}

@media(max-width: 712px) {
    /* Need to make banner buttons center */
    .banner__button__wrapper {
        display: flex;
        flex-flow: column;
        align-items: center;
        width: 100%;
    }
}
/* other */

.map-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

#mapid {
    /* background: gray; */
    height: 400px;
    width: 500px;
    padding: 2rem;
}

/* .map img {
    width: 60%;
    height: auto;
    margin-top: 2rem;
} */

.info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info p {
    line-height: 1.3rem;
    margin-top: 2rem;
    padding: 0.3rem 0.8rem;
    font-size: 1.1rem;
    text-align: center;
    border: 3px double rgb(80, 80, 80);
}

@media(max-width: 599px) {
    .info p {
        margin-right: auto;
        margin-left: auto;
    }

    .map-wrapper {
        margin-left: auto;
        margin-right: auto;
    }
}

.carousel-item {
    color: white;
    background: rgb(80, 80, 80);
    text-align: center;
    padding: 1rem;
    border-left: 1rem solid rgb(160, 160, 160);
    border-right: 1rem solid rgb(160, 160, 160);
}

.carousel-item span {
    font-size: 0.8rem;
}

/* .quote {
    font-size: 4rem;
} */


/* footer */

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    background-color: rgb(160, 160, 160);
    margin-top: 4rem;
    padding: 1rem 0;
}

.footer__address {
    display: flex;
    flex-flow: column;
    margin-left: 1rem;
    align-self: center;
}

footer img {
    max-width: 180px;
    height: auto;
    padding: 0.5rem auto;
}

.footer__hours {
    display: flex;
    flex-flow: column;
    margin-right: 1rem;
}

.footer__hours li {
    font-weight: 300;
}

@media (max-width: 599px) {
    footer {
        flex-flow: column;
        font-size: 1rem;
    }

    .footer__address {
        flex-flow: row;
        margin-bottom: 1rem;
    }

    .footer__address > p {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    footer img {
        max-width: 200px;
        margin-bottom: 1rem;
    }
}

/* Log in form */

.login__grid {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    justify-items: center;
    align-items: center;
}

.login__grid > h1 {
    grid-area: 1/1/2/3;
    font-size: 3rem;
    color: gray;
    text-shadow: 2px 2px 5px black;
    margin: 3rem 0;
}

/* .login__layout {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-around;
} */

.login__form {
    grid-area: 2/1/3/2;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    background: #eee;
    width: 300px;
    border: 1px solid rgb(160, 160, 160);
    padding: 1.5rem;
}

.login__form > input {
    font-size: 1rem;
    padding: 0.42rem 0.5rem;
    margin-bottom: 0.7rem;
}

/* .login__form > button {
    padding: 0.85rem 1rem;
    background-color: blue;
    color: white;
    margin-bottom: 0.2rem;
} */

.login-btn-group {
    display: flex;
    flex-flow: row;
}

/* .login__form > a {
    color: #0000EE;
    font-size: 0.9rem;
    padding-top: 0.2rem;
} */

.login__info {
    grid-area: 2/2/3/3;
    place-self: start;
}

.login__info > h3 {
    font-size: 2rem;
    color: rgb(160, 160, 160);
    padding: 1rem 0;
}

@media(max-width: 599px) {
    .login__grid {
        display: flex;
        height: 100%;
        flex-flow: column;
        align-items: center;
        justify-content: center;
    }

    .login__form {
        order: 1;
    }

    .login__info {
        order: 0;
    }
    
}


/* Contact Page */

.contact__form {
    background: #eee;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    width: 500px;
    grid-gap: 1rem;
    margin: auto;
}

.contact__form > * {
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 0.4rem 0.5rem;
}

.contact__form > h1 {
    grid-area: 1/1/2/3;
}

.contact__first {
    grid-area: 2/1/3/2;
}

.contact_last {
    grid-area: 2/2/3/3;
}

.contact__email {
    grid-area: 3/1/4/3;
}

.contact__phone {
    grid-area: 4/1/5/3;
}

.contact__message {
    grid-area: 5/1/6/3;
}

.contact__form > button {
    grid-area: 6/1/7/3;
    padding: 1rem;
    margin-bottom: 1rem;
}

/* Photo Gallery Page */

.photo__title {
    color: white;
    text-shadow: 2px 2px 5px black;
    margin: 3rem auto;
    display: flex;
    width: 100%;
    justify-content: center;
}

.photo__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(255px, 1fr));
    grid-auto-rows: repeat(130px, auto);
    width: 80%;
    height: 100%;
    margin: 3rem auto;
    grid-gap: 1.4rem;
}

.photo__grid img {
    width: 255px;
    height: 130px;
}


/* Home page media queries */

@media(max-width: 599px) {

}


a {
    text-decoration: none;
    color: inherit;
    font-family: 'Raleway',
    sans-serif;
}

h1 {
    font-size: 3rem;
    font-family: 'Raleway',
    sans-serif;
}

* {
    font-family: 'Raleway',
    sans-serif;
}

ul,li { 
    list-style-type: none;
    list-style-position:inside;
    margin:0;
    padding:0; 
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrapper {
    padding-bottom: 10rem;
    /* do this in higher sizes for smaller screens */
}

@media(max-width: 599px) {
    #content-wrapper {
        padding-bottom: 22rem;
        /* do this in higher sizes for smaller screens */
    }
}

.portal-wrapper > .card {
    margin-bottom: 2rem;
}

/* Used for navbar background color and white font */
.bg-bha {
    background-color: rgb(160, 160, 160);
    color: white;
}

@media(min-width: 575px) {
    .portal-wrapper {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
    }

    .portal-wrapper > .card {
        max-width: 33%;
        /* display: inline-block; */

    }

    /* .portal-btn {
        margin-top: auto 0;
    } */

    .card-edit {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
    }
}

/* Amenities Page */

.amenities-list {
    /* background-color: rgb(160, 160, 160); */
    /* max-width: 30%; */
    /* margin: 0 auto; */
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.amenities-list > li {
    padding-left: 2rem;
    border-left: none;
    border-right: none;
}

.amenities-wrapper {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    margin-top: 3rem;
}

.pet-policy {
    margin: 2rem auto 0;
    max-width: 50%;
}

.amenities-card {
    width: 40%;
}

.disclaimer {
    margin-top: 1rem;
}


@media(max-width: 768px) {
    .amenities-wrapper {
        flex-flow: column;
    }

    .pet-policy {
        max-width: 100%;
    }

    .amenities-card {
        width: 100%;
    }
}

/* Floorplans Pages */

.floorplan-wrapper {
    margin: 3rem auto;
    text-align: center;
}

.floorplan-wrapper > img {
    max-width: 100%;
    height: auto;
}

/* Contact Us Page */

.contact-info {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    margin: 2rem auto;
}

.contact-msg {
    text-align: center;
    padding: 1.3rem;
}

@media(max-width: 575px) {
    .contact-info {
        flex-flow: column;
        text-align: center;
    }
    
    .contact-info > div {
        margin-bottom: 1rem;
    }
}